/* Universal Styles */
* {
    font-family: 'Raleway', sans-serif;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    box-shadow: 2px 3px 3px grey;
}


/* Navigation Styles */
nav {
    text-align: center;
    width: 100%;
    position: fixed;
    margin-top: -200px;
    background-color: #4a4e69;
    box-shadow: 0px 3px 3px #22223b;
}

.main-title {
    font-size: 2em;
    text-transform: uppercase;
    color: #c9ada7;
}

.subtitle {
    font-size: 1.2em;
    margin-top: -20px;
    color: #c9ada7;
}

.navigation-links li {
    display: inline;
    list-style: none;
    font-size: 0.75em;
}

.navigation-links li+li::before {
    content: '- ';
    padding: 2rem;
    color: #f2e9e4;
}

.navigation-links a {
    text-decoration: none;
    color: #f2e9e4;
    text-transform: uppercase;
}
/* Introduction Styles */
.main-body {
    margin-top: 200px;
}

.intro {
    margin: 10px auto;
    width: 80%;
    padding: 10px;
}

.profile-img {
    border-radius: 50%;
    height: auto;
    width: 35%;
    float: left;
    margin-right: 10px;
    box-shadow: 1px 3px 3px grey;
}

.personal-statement {
    text-align: justify;
    
}

/* Certificate Styles */
.certifications {
    
}

img {
    width: 30%;
    height: auto;
}

/* Example Websites Styles */


/* Footer Styles */